<% provide(:title, "Contact") %>
<div class="container">
<h1 align="center"> Contact the Developers </h1>
<p>
	<ul class="list-group">
	<li class="list-group-item"><b> Rounaq Jhunjhunu Wala </b><i>(CEO)</i> rounaq14089@iiitd.ac.in </li>
	<li class="list-group-item"><b> Nitin Kumar </b><i>(CFO)</i> enter id </li>
	<li class="list-group-item"><b> Sarthak Madan </b><i>(CTO)</i> enter id </li>
	</ul>
</p>
</div>