<div class="center jumbotron" style="text-align:center;">
  <h1>Hi! There</h1>
  <h2>
  What do you want to choose today?
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
