<% provide(:title, "New Post") %>
<div class="container">
	<h1> Create new post </h1>
</div>
<div class="container">
	<% @blocks.each do | block | %>
	  <ul class="list-group col-lg-3">
	  <div class="entity">
	  <h1 align="center"> Block </h1>
	  <div class="field">
    </div>
	  </div>
	  </ul>
	<% end %>
</div>