@import "bootstrap-sprockets";
@import "bootstrap";

@font-face { font-family: 'Harlow Solid Italic'; src: url('Harlow_solid.eot'); src: url('Harlow_solid.eot?#iefix') format('embedded-opentype'), url('Harlow_solid.svg#Harlow Solid Italic') format('svg'), url('Harlow_solid.woff') format('woff'), url('Harlow_solid.ttf') format('truetype'); font-weight: normal; font-style: normal;}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  color: gray;
}


.about-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("about-abs.jpg") no-repeat center center;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
}

#about-para {
	padding-left: 10px;
	padding-right: 10px;
	color: #202020;
	font-size: 20px;
	text-align: center;	
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}	

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

 #logo {
  float: left;
  margin-right: 10px;
  font-size: 2.2em;
  color: white;
  font-family: "Harlow Solid Italic";
  /*letter-spacing: -1px;*/
  padding-top: 4px;
  /*font-weight: bold;*/
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.entity {
  border-radius:7px;
  border-width: 2px;
  border-color: #000099;
  border-style: solid; 
  height: 400px;
  background-color: #66FFCC;
}

.box {
  display: inline-block;
  background-color: #33FFCC;
  height: 300px;
  max-width: 223px;
  width: 223px;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  padding: 10px;
}