<footer class="footer" style="text-align:center">
	<p style="font-family:Harlow Solid Italic;color:#D3D3D3;font-size:36px;">HelpMeChoose</p>
	<small>
		A Nitin, Sarthak, and Rounaq Production<br/>
	<%= link_to "About",   about_path %> | <%= link_to "Contact", contact_path %> | <a class="back-to-top " href="#" title="Top">Top of Page</a>
    </small>
</footer>